/* .MainImg1 {
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
} */
.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100vw;
  background-image: url('../../../Assets/Images/homescreen.jpg');
  background-size: cover;
  background-position: 25% -56px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(146, 143, 144, 0.5); */
  object-fit: contain;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.appointment-card
{
  margin-right: 10%;
  width: 35vw;
  height: auto;
}


.hero-container > h1 {
  color: blue;
  font-size: 50px;
  margin-top: -40px;
}

.hero-container > p {
  margin-top: 0;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


@media only screen and (max-width: 768px) {
  .hero-container {
    height: 100vh;
    width: 100vw;
  }
  .hero-container > h1 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }

  .hero-container > p {
    font-size: 30px;
  }
  .appointment-card
  {
    flex: auto;
    margin-top: 20vh;
    margin-left: 10vw;
  }
  .appointment-card-header
  {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.562);
  }
}
